# Auto detect text files and perform LF normalization
* text=auto

# Shader files
*.vert linguist-detectable
*.vert linguist-language=GLSL
*.frag linguist-detectable
*.frag linguist-language=GLSL

src/utilities/glad/glad.c linguist-vendored
includes/utilities/glad/glad.h linguist-vendored
includes/utilities/stb_image.h linguist-vendored
includes/KHR/khrplatform.h linguist-vendored
libs/** linguist-vendored